<html>
    <head>
        <title>Post Message</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Post a Message</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('message_handler') }}">
                  <label for="yourname">Name</label>
                  <input type="text" name="myname" /><br />
                  <label for="youremail">Message</label>
                  <input type="text" name="mymsg" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>